# Maven
target/
# ctags/etags
TAGS
tags.sh
# identifiers
ID
# Vim
*.swp
*.swo
# Class files should be covered by 'target'
*.class
# Other
*.patch

*.log

# Package Files #
*.jar
*.war
*.ear

*.iml
*.ipr
*.iws
.idea/

.DS_Store
